ul {
    list-style-type: none;
}

ul li {
    text-align: left;
    line-height: 2;
    font-size: 17px;
    color: gray;

}
#icon-div{
    text-align: left;
}
#phone-div{
    text-align: left;
}
#icon-div span {
    margin-right: 10px;
    /* background-color: turquoise; */
}

#icon-div span .icon {
    color: turquoise;
    border-radius: 50%;

}
#phon-style p{
    padding: 10px 20px;
    color: turquoise;
    background-color:turquoise;
    color: white;
    width: 40%;
    border-radius: 5px;
}